body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 75px;
    background-color: var(--background-color, #d9d9d9);
    color: var(--text-color, #333);
    box-sizing: border-box;
    --shadow-light: rgba(255, 255, 255, 0.4);
    --shadow-dark: rgba(0, 0, 0, 0.1);
}

body.dark-theme {
    --background-color: #1e1e1e;
    --text-color: #ffffff;
    --card-background: #333333;
    --header-background: #111111;
    --header-text-color: #007BFF;
    --shadow-light: rgba(255, 255, 255, 0.05);
    --shadow-dark: rgba(0, 0, 0, 0.4);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--header-text-color, rgb(0, 0, 0));
    box-shadow: 0 4px 6px var(--shadow-dark);
}

body.dark-theme header {
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--header-text-color, #007BFF);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 6px var(--shadow-dark);
}

h1 {
    margin: 0;
    font-size: 24px;
    color: inherit;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color, #333);
}

section {
    margin: 20px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 3px 3px 7px var(--shadow-dark), -3px -3px 7px var(--shadow-light);
    padding: 20px;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.stat {
    text-align: center;
    padding: 15px;
    width: 30%;
    border-radius: 10px;
}

.stat, .chart-wrapper, .line-chart-wrapper{
    border-radius: 20px;
    box-shadow: inset 3px 3px 7px var(--shadow-dark), inset -3px -3px 7px var(--shadow-light);
    padding: 20px;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.stat:hover{
    box-shadow: 3px 3px 7px var(--shadow-dark), -3px -3px 7px var(--shadow-light);
    transform: translateY(-2px);
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.charts-section {
    margin: 40px auto;
    max-width: 1200px;
    padding: 20px;
}

.charts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.growth-charts, .pie-charts {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.chart-wrapper, .line-chart-wrapper{
    border-radius: 20px;
    padding: 20px;
}

.pie-charts{
    width: 50%;
}

.chart-grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
}

.line-chart-grid{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .stats {
        flex-direction: column;
        align-items: center;
    }

    .stat {
        width: 80%;
        margin-bottom: 20px;
    }

    .growth-chart-column, .pie-chart-grid, .chart-grid, .line-chart-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .chart-wrapper, .line-chart-wrapper{
        width: 100%;
        max-width: 90% !important;
        margin: 0 auto !important;
    }
}

.theme-switcher {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

.theme-switcher label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.theme-switcher input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #007BFF;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

#themeLabel {
    margin-left: 10px;
    font-size: 14px;
    color: var(--text-color, #333);
}
